@import "partials/reset";
@import "http://fonts.googleapis.com/css?family=Droid+Serif:400,700.css";

$main-background : #EEF9ED;
$headline-color : #15A0A7;
$font-headline : #57D2C9;
$link-color : #000000;
//EFF9ED is the color of the oage
//#57C1C7 is the color of the headline

body {
  background: $main-background;

}
//this is the banner
h1 {
  background: $headline-color;
  line-height: 1.80em;
  letter-spacing: 2.0px;
  text-align: center;
  font-size: 0.80em;
  color: $font-headline;
  text-transform: uppercase;
  

}

h2 {
  font-size: 2em;
  padding-top: 10px;
  position: relative;
  left: 30px;
  padding-top: 40px;
}

h3 {
  font-size: 1.3em;
  color:$headline-color;
  position: relative;
  left: 38px;
}
h4 {
  visibility: hidden;
}
a {
    text-decoration: none;
}

.read_more {
  visibility: hidden;
}

.nav{
  display: none;
}

article {
 
}

p {
  font-size: 1.35em;
  
  display: block;
  -webkit-margin-before: 2em;
  -webkit-margin-after: -2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.footer_links{

}

footer {
  padding: 34px 38px;
  line-height: 30px;
}
footer p {
  visibility: hidden;
}

// .row > ul:nth-child(1) {
//   float: left;
// }

// .row > ul:nth-child(3) {
//   float: right;
// }

.right {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

h2 a, a {
  color: $link-color;
}